*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.form{
    text-align: center;
}

body{
    background-color: brown;
    text-decoration: underline;
}